@import 'tailwind';

// @import 'variables';


@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';



.page-item {
    display: inline;
}

.is-danger {
    color: red;
    font-size: 0.9rem;
}
